.set-font(@font-size: 18px, @line-size: 22px, @weight: "bold", @color: #ffffff){
  font-family : 'Open Sans', Arial, sans-serif;
  font-weight: @weight;
  font-size: @font-size;
  line-height: @line-size;
  color: @color;

  text-align: center;
}
