@header-bg: #1d2631;

@link-color: #ffffff;
@link-font-size: 18px;
@link-line-height: 24px;
@link-active-color: #d22856;

@inner-shadow: #485461;
@drop-shadow: #000000;

@btn-color: #ffffff;
@btn-font-size: 18px;
@btn-line-height: 18px;
