.download {
  min-height: 210px; // 270 = 210 + 30 + 30

  padding-top: 30px;
  padding-bottom: 30px;

  background-color: @header-bg;
}
.download__wrapper {
  .set-wrap(20px, 20px);
}
.download__btn {
  display: block;
  max-width: 205px;

  .set-font(@btn-font-size, @btn-line-height, bold, @btn-color);

  padding: 15px 40px;
  margin: 0 auto;

  border: 3px solid @btn-color;
  border-radius: 30px;
}
.download__desc {
  margin-top: 20px;

  .set-font(14px, 24px, light, #ffffff);
}

.download__title {
  display: none;
}

.download__icon {
  margin-right: 35px;
}
.download__icons {
  margin-top: 30px;

  text-align: center;
}
.download__icon:last-of-type {
  margin-right: 0;
}

@media @tablets {
  .download {
    width: 320px;
    margin-top: -590px;
    margin-left: 30px;
    background-color: transparent;
  }
  .download__title {
    display: block;
    .set-font(40px, 44px, light, #ffffff);
  }

}
