.header {
  height: 460px;
  background-color: @header-bg;
  background:
    url("../../img/bg-back-mobile@1x.jpg") 50% 0% no-repeat,
    url("../../img/iphone-hand-mobile@1x.png") left bottom no-repeat;
}
