.nav {
  border-bottom: 1px solid @inner-shadow; // тень
  //background-color: @menu-bg;
  //background-color: @menu-closed-bg;

  display: flex;
  flex-direction: column;
}

.nav__menu {
  height: 67px;
  border-bottom: 1px solid @drop-shadow; // тень

  background-color: @menu-bg;
}

.nav__menu--closed {
  background-color: @menu-closed-bg;
}

.nav__items {
  display: flex;
  flex-direction: column;
  background-color: @menu-bg;
}

.nav__item {
  border-top: 1px solid @inner-shadow;
  border-bottom: 1px solid @drop-shadow;
}

.nav__link {
  display: block;

  .set-font(@link-font-size, @link-line-height, bold, @link-color);
  text-transform: uppercase;

  padding-top: 17px;
  padding-bottom: 17px;

  &:active {
    color: @link-active-color;
    opacity: 0.3;
  }
}

.nav__items--hidden {
  display: none;
}

@media @desktops {
  .nav__menu {
    width: 160px;
    background-color: @menu-closed-bg;
  }
  .nav {
    flex-direction: row;

    border-bottom: none;
  }
  .nav__item {
    border-top: none;
    border-bottom: none;
  }
  .nav,
  .nav__items {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;

    background-color: @menu-closed-bg;
  }
  .nav__link {
    text-transform: capitalize;
  }
}
